<nav class ="nav justify-content-center" style="background-color: #8ae65c; width:100%">
  <a class="nav-link" href="/profile" data-toggle="tooltip" title="Profile">
    <img src="/images/profile.png" style="size: 90%; filter: invert(0.18); margin: 0px 20px 0px 20px">
  </a>
  <a class="nav-link" href="/dashboard" data-toggle="tooltip" title="Dashboard">
    <img src="/images/dashboard.png" style="size: 50%; filter: invert(0.18); margin: 0px 20px 0px 20px">
  </a>
  <a class="nav-link" href="/educationplan" data-toggle="tooltip" title="Education Plan">
    <img src="/images/planner.png" style="size: 50%; filter: invert(0.18); margin: 0px 20px 0px 20px">
  </a>
  <a class="nav-link" href="/educationprogress" data-toggle="tooltip" title="Education Progress">
    <img src="/images/progress.png" style="size: 50%; filter: invert(0.18); margin: 0px 20px 0px 20px">
  </a>
  <a class="nav-link" href="/logout" data-toggle="tooltip" title="Logout">
    <img src="/images/logout.png" style="size: 50%; filter: invert(0.18); margin: 0px 20px 0px 20px">
  </a>
</nav>
