<nav class ="nav justify-content-center">
  <a class="nav-link" href="/profile">
    <img src="/images/profile.png" style="size: 50%">
  </a>
  <a class="nav-link" href="/dashboard">
    <img src="/images/dashboard.png" style="size: 50%">
  </a>
  <a class="nav-link" href="/educationplan">
    <img src="/images/planner.png" style="size: 50%">
  </a>
  <a class="nav-link" href="/educationprogress">
    <img src="/images/progress.png" style="size: 50%">
  </a>
  <a class="nav-link" href="/logout">
    <img src="/images/logout.png" style="size: 50%">
  </a>
</nav>