<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->
<h2>Assignment Page</h2>
 {{#each assignmentList}}
        <ul>
        	<li>{{this.title}}</li>
            <li>{{this.questions}}</li>

  <h2>Assignment</h2>
  <h3>{{title}}</h3>
  <p>{{questions}}</p>

  <textarea id="assignment-answer" rows="10" cols="100">
  </textarea>

  <button type="button" id="submit-answer-btn">Submit answer</button>
