<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->
<h2>Assignment Page</h2>
 {{#each assignmentList}}
        <ul>
        	<li>{{this.title}}</li>
            <li>{{this.questions}}</li>

        </ul>
    {{/each}}