<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/client.js"></script>
  </head>
  <body>
    <h2>Create User</h2>
    <fieldset>
    	<legend>Create User</legend>
        <form action="/admin/createuser" method="post">
        <input type="radio" name="user_type" value="student" required> Student
        <input type="radio" name="user_type" value="instructor"> Instructor<br>
    	<label for="username">Username</label>
    	<input type="text" name="username" placeholder="Username" id="username" required>
    	<label for="password">Password</label>
    	<input type="text" name="password" placeholder="Password" id="password" required>
    	<br>
    	<label for="first_name">First Name</label>
    	<input type="text" name="first_name" placeholder="First Name" id="first_name" required>
    	<label for="last_name">Last Name</label>
    	<input type="text" name="last_name" placeholder="Last Name" id="last_name" required>
    	<br>
    	<label for="DOB">Date of Birth</label>
    	<input type="date" name="DOB" id="DOB" required>
    	<label for="identification">Identification</label>
    	<input type="text" name="identification" placeholder="Identification" id="identification" required>
    	<br>
    	<input type="submit" id="Create User">
        </form>
    </fieldset>
  </body>
