<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

    {{#each courseLink}}
        <ul>
        	<li>{{this.name}}</li>
        </ul>
    {{/each}}
</div>