<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->
<div>
    {{#each courseLink}}
        <ul>
        	<li>{{this.name}}</li>
            <li>{{this.course_id}}</li>

        </ul>
    {{/each}}
</div>
