<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/client.js"></script>
  </head>
  <body>
    <h2>Lecture</h2>
      <h3>{{title}}</h3>
        <p>{{{body}}}</p>
  </body>
