<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<h2>Lecture Page</h2>
  {{#each lectureList}}
        <ul>
        	<li>{{this.title}}</li>
            <li>{{this.body}}</li>

        </ul>
    {{/each}}