<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<!DOCTYPE html>
<html>
  <head>
    <link href="/lecture.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container custom-container">
      <div class="row">
        {{>navbar}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 offset-md-2 title-container">
            <h3>{{title}}</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 body-container">
          <p>{{body}}</p>
        </div>
      </div>
    </div>
  </body>
