<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/client.js"></script>
    <link href="login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" id="login-container">
      <div class="row">
        <div class="col-sm" id="login-title">Education for All</div>
      </div>
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <form action="/login" id="login-form" method="post">
              <div class="form-group">
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label><br>
                <input type ="password" name="password" id="password" required>
              </div>
              <input type="submit" value="LOGIN" id="login"></input>
          </form>
        </div>
      </div>
    </div>
  </body>
