<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/client.js"></script>
    <title>View My Profile</title>
  </head>
  <body>
    <h2>Profile</h2><p>
	First Name: {{first_name}} <p>
	Last Name: {{last_name}} <p>
	DOB: {{DOB}} <p>
  Identification: {{identification}}
  </body>
