html, body {
  height: 100vh;
  background-color: #383633;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.course-overview-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.course-overview-title h2 {
  font-size: 60px;
}