html, body {
  height: 100vh;
  background-color: #383633;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.course-overview-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.course-overview-title h2 {
  font-size: 60px;
}

#course-banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  padding: 0;
}

#course-image {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

#course-title {
  width: 100%;
  height: 90px;
  background-color: #8ae65c;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

#course-table td{
  width: 50%;
}

#course-table th {
  font-size: 30px;
}

#lecture-list, #assignment-list {
  list-style-type: none;
}