html,body {
  height: 100%;
  background-color: #383633;
  font-family: 'Montserrat', sans-serif;
}

#login-container {
  background-color: white;
}

#title-col {
  background-color: #383633;
  text-align: center;
  color: white;
  margin-top: 30px;
}

#profile-table tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}